@media (max-width:991px) {
    section {
        padding: 30px 0;
    }

    h2 {
        font-size: 30px;
        line-height: 40px;

    }

    h3 {
        font-size: 20px;
    }

    .header-scrolled {
        height: auto;
    }
    .frontbox h4 {
        width: 66%;
        margin: 0 auto;
        font-size: 24px;
    }

    .header_wrapper .menu-navbar-nav {
        text-align: center;
        background-color: var(--bg-dark-blue);
        padding-bottom: 15px;
    }

    .header_wrapper .nav-item .nav-link {
        margin-top: 15px;
    }

    /* banner */
    .banner-wrapper {
        padding: 13em 0;
    }

    .about_wrapper ul.nav-pills {
        width: 61%;
        margin: auto;
    }

    .portfolio_wrapper .card {
        min-height: 400px;
    }
}

/* about sec */

@media (max-width:767px) {
    h1 {
        font-size: 40px;
        line-height: 48px;
    }
    .frontbox h4 {
        width: 66%;
        margin: 0 auto;
        font-size: 24px;
    }
    h2 {
        font-size: 25px;
    }

    p {
        font-size: 13px;
        line-height: 24px;
    }

    /* about */
    .about_wrapper ul.nav-pills {
        width: 100%;
        margin: auto;
        border: none;
    }

    .about_wrapper ul li .nav-link {
        font-size: 13px;
    }

    .portfolio_wrapper .card {
        min-height: 500px;
    }

    .frontbox {
        width: 200px;
        height: 200px;
        font-size: 20px;
        left: 3px;
        position: absolute;
    }
    .frontbox1 {
        width: 200px;
        height: 200px;
    padding: 68px 19px 0px 27px;
        font-size: 20px;
        left: 3px;
        position: absolute;
    }
    .emm{
        flex-direction: column;
    }
    .portfolio_wrapper .card {
        height: 100%;
        width: 100%;
        min-height: 350px;
        overflow: hidden;
        border: 1px solid var(--gray-color);
        cursor: pointer;
        /* box-shadow: 0 0 16px 4px rgba(255, 255, 255, 0.377); */
        box-shadow: rgba(187, 186, 186, 0.35) 0px 5px 15px;
    
    }
    .portfolio_wrapper .card {
        height: 100%;
        min-height: 400px;
        overflow: hidden;
        border: 1px solid var(--gray-color);
        cursor: pointer;
        /* box-shadow: 0 0 16px 4px rgba(255, 255, 255, 0.377); */
        box-shadow: rgba(187, 186, 186, 0.35) 0px 5px 15px;
    }
    .cnn{
        flex-direction: column-reverse;
    }
   
    
}